@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
    0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.slide-down {
	animation: slideDown 2s;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

.slide-up {
	animation: slideUp 2s ease forwards;
}